<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Furniture Store</title>
    <link rel="stylesheet" href="~/css/Layout.css" />
</head>
<body>
   
    <section class="banner">
        <h1>Welcome to Mebeli Audi</h1>
        <p>The best furniture store in Bulgaria</p>
        <a class="btn" asp-area="" asp-controller="Furniture" asp-action="All">Shop now</a>
    </section>

    <section class="featured-products">
        <div class="product-list">
            <!-- Display featured products here -->
            <div class="product">
                <img src="/images/Gharnish-luxury-bed-with-gold-color-metal-plated-in-bed-frame-hyderabad_1024x.jpg" alt="Product 1">
                <h3>Луксозна спалня</h3>
                <p>High-quality description of the product.</p>
                <span class="price">299.99  BGN</span>
                <button class="add-to-cart">Shop Now</button>
            </div>
            <div class="product">
                <img src="/images/bedroom-furniture.jpg" alt="Product 2">
                <h3>Белгийска спалня</h3>
                <p>High-quality description of the product.</p>
                <span class="price">149.99  BGN</span>
                <button class="add-to-cart">Shop Now</button>
            </div>

            <div class="product">
                <img src="/images/1.jpg" alt="Product 2">
                <h3>Елегантна трапезарна маса</h3>
                <p>High-quality description of the product.</p>
                <span class="price">129.99  BGN</span>
                <button class="add-to-cart">Shop Now</button>
            </div>
            <!-- Add more products here -->
        </div>
    </section>

    <section class="about-us">
        
        <p>
           
            Фирма "Mebeli Audi" е на българския пазар от 1993 година и основната ни дейност е търговия с комплексно обзавеждане, осветителни тела, настилки и аксесоари. Предлагаме нестандартни решения и изпълнение на индивидуални поръчки за цялостно обзавеждане на дома с висококачествени мебели на оптимални цени.


            Работим както с утвърдени имена в българския архитектурен бранш, така и с млади, амбициозни специалисти. Освен цялостно обслужване, фирма G&G ЕООД предлага професионални консултации, интериорни проекти и доставка на обзавеждането до вашия дом.
        </p>

        <p>
            Заповядайте при нас!
        </p>
   
    </section>

   

    <footer class="footer">
        <p>&copy; 2023 FurnitureStore. All rights reserved.</p>
    </footer>
</body>
</html>